$height-aside: 100vh;
$font: sans-serif;
$fs14: 14px;
$fs18: 18px;
$pad25: 25px;
$center: center;
$inpW: 700px;
$rad5: 5px;
$mt400: 400px;
$wBtn: 700px;
$mt20: 20px;
$h96: 96vh;
$w100: 100%;
$pad30:30px;
$mb30:30px;
$pad13:13px;
$m15:15px;
$p8:8px;
$w60: 60vw;