@import "./_colors.scss";
@import "./_mixin.scss";
@import "./_variable.scss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $bg-body;
  font-family: $font;
  @include display(row);
  justify-content: $center;
}
.container {
  @include display(row);
  width: $w60;
}
.contactInfo {
  background-color: $bg-gradient;
  background-image: $img-gradient;
}
aside {
  height: $height-aside;
  color: $white;
  font-size: $fs14;
  padding: 0 $pad25;
  border-radius: $rad5;
}
.icon {
  margin-top: $mt400;
  font-size: $fs18;
}
.secondary {
  color: $secondary;
}
.contactUs {
  width: $w100;
  height: $h96;
  background-color: rgba(255, 255, 255, 0.753);
  @include display(column);
  justify-content: $center;
  align-self: $center;
  padding: 0 $pad30;
}
form {
  input {
    width: $inpW;
    padding: $p8 0;
  }
}
.marginBottom{
  margin-bottom: $mb30;
}
button {
  width: $wBtn;
  margin-top: $mt20;
  background-color: rgb(11, 11, 102);
  border: none;
  color: $white;
  padding: $pad13 0;
}
.inp {
  margin-bottom: $m15;
  input {
    margin-top: $m15;
  }
}
.border{
  border-bottom: 1px solid gray;
}
